
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>

    <div>
        <input id="user" type="text" />
        <input id="conn" type="button" value="连接" />
        <input id="close" type="button" value="关闭" /><br />
        <span id="tips"></span>
        <input id="content" type="text" />
        <input id="send" type="button" value="发送" /><br />
        <input id="to" type="text" />目的用户
        <div id="msg"></div>
    </div>

</body>
</html>


<script>
    var ws;
    $().ready(function () {
        $('#conn').click(function () {
            ws = new WebSocket('ws://localhost:51754/api/ws/access');
            $('#msg').append('<p>正在连接</p>');

            ws.onopen = function () {
                $('#msg').append('<p>已经连接</p>');

                var msgObj = { "reqID": "111", "reqType": "request", "content": { "token": "123456" } };
                var str = JSON.stringify(msgObj);
                ws.send(str);
            }
            ws.onmessage = function (evt) {
                //$('#msg').append('<p>' + evt.data + '</p>');
                $('#msg').text(evt.data);
            }
            ws.onerror = function (evt) {
                $('#msg').append('<p>' + JSON.stringify(evt) + '</p>');
            }
            ws.onclose = function () {
                $('#msg').append('<p>已经关闭</p>');
            }
        });

        $('#close').click(function () {
            ws.close();
        });

        $('#send').click(function () {
            if (ws.readyState == WebSocket.OPEN) {
                ws.send($("#to").val() + "|" + $('#content').val());
            }
            else {
                $('#tips').text('连接已经关闭');
            }
        });

    });
</script>
