
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>

    <div>ws://localhost:51754/ws/access</div>
    <br />

    <div>
        <input id="conn_txt" type="text" />
        <input id="conn_btn" type="button" value="连接" />
        <input id="close_btn" type="button" value="关闭" /><br />

        <br />
        <input id="auth_txt" type="text" />
        <input id="auth_btn" type="button" value="认证" /><br />

        <br />
        <input id="hear_txt" type="text" />
        <input id="hear_btn" type="button" value="心跳包" />
        <br />

        <br />
        <input id="sub_txt" type="text" />
        <input id="sub_btn" type="button" value="订阅" />
        <br />

        <br />
        <input id="unsub_txt" type="text" />
        <input id="unsub_btn" type="button" value="取消订阅" />
        <br />

        <br />
        <input id="clear_btn" type="button" value="清空" />
        <br />

        <div id="msg"></div>
    </div>

</body>
</html>


<script>
    var ws;
    $().ready(function () {
        $('#conn_btn').click(function () {
            ws = new WebSocket($('#conn_txt').val()); //'ws://localhost:51754/ws/access'
            $('#msg').append('<p>正在连接</p>');

            ws.onopen = function () {
                $('#msg').append('<p>已经连接</p>');
            }
            ws.onmessage = function (evt) {
                $('#msg').append('<p>' + evt.data + '</p>');
            }
            ws.onerror = function (evt) {
                $('#msg').append('<p>' + JSON.stringify(evt) + '</p>');
            }
            ws.onclose = function (evt) {
                $('#msg').append('<p>已经关闭</p>');
                $('#msg').append('<p>' + evt.reason + '</p>');
            }
        });

        $('#close_btn').click(function () {
            ws.close();
        });

        $('#auth_btn').click(function () {
            if (ws.readyState == WebSocket.OPEN) {
                ws.send($('#auth_txt').val());
            }
            else {
                //$('#tips').text('连接已经关闭');
            }
        });

        $('#hear_btn').click(function () {
            if (ws.readyState == WebSocket.OPEN) {
                ws.send($('#hear_txt').val());
            }
            else {
                //$('#tips').text('连接已经关闭');
            }
        });

        $('#sub_btn').click(function () {
            if (ws.readyState == WebSocket.OPEN) {
                ws.send($('#sub_txt').val());
            }
            else {
                //$('#tips').text('连接已经关闭');
            }
        });

        $('#unsub_btn').click(function () {
            if (ws.readyState == WebSocket.OPEN) {
                ws.send($('#unsub_txt').val());
            }
            else {
                //$('#tips').text('连接已经关闭');
            }
        });

        $('#clear_btn').click(function () {
            $('#msg').html("");
        });

    });
</script>
